---
const {
    heading,
    body = null, 
    id = 'header',
    ofText = null,
    currentPage = 'home',
} = Astro.props
import Icons from "./Icons.astro";
import { getViewTransitionName, type PageSlug } from "../modules/navigation";
import NewDot from "./NewDot.astro";
const resolvedCurrentPage = currentPage as PageSlug;
const slug = resolvedCurrentPage;
---

<header>
    <div class="body" id={id}>
        <span aria-hideen="true" class="header__icon-wrapper">
            <Icons
                icon={resolvedCurrentPage}
                class="header__icon"
            />
            <NewDot slug={slug}/>
        </span>
        <slot>
            <h1 id="h1">
                {heading}
                <i class="ofText">{ofText}</i>
            </h1>
            {body && <p>{body}</p>}
        </slot>
    </div>
</header>
<style>
    header {
        align-items: flex-end;
        gap: 24px;
        width: 100%;
        height: auto;
        @media screen {
            display: flex;
            background-image: url("/images/easter-colors.png");
            aspect-ratio: 16/9;
            border: 8px solid black;
            border-top-width: 0;
            background-size: 100% auto;
            padding: 5% 5% 0 0;
            @media (min-width: 45em) {
                border-top-width: 8px;
                border-left-width: 0;
            }
        }
    }
    .body {
        @media screen {            
            backdrop-filter: blur(48px);
            border: 1px solid #000;
            corner-top-right-shape: notch;
            border-top-right-radius: 5vw;
            max-width: 100%;
            padding: 5%;
            border-bottom: none;
            border-left: none;
        }
    }
    h1 {
        font-weight: 900;
        font-family: var(--font-family);
        font-size: clamp(2rem, 8vw, 8rem);
        text-shadow: 0.025em 0.025em #39d;
        text-shadow: 0.025em 0.025em #fff5b8;
        margin: 0 0 0 -.05em;
        max-width: 100%;
        width: 8em;
        line-height: calc(1em + 4px);
    }
    p {
        border-top: 12px dotted #000;
        margin: 16px 0 0;
        padding: 16px 0 0;
        font-size: 1.5rem;
        max-width: 50ch;
        width: 100%;
    }
    .ofText {
        font-size: 1.25rem;
        margin-top: 4px;
        display: block;
        line-height: 1;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: 0.1em 0.1em #fff5b8;
    }
</style>
<style is:global>
    :root {
        --icon-stroke: 2px;
    }
    .header__icon-wrapper {
        display: inline-flex;
        position: relative;
    }
    .header__icon-wrapper .new-dot {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .header__icon {
        height: 45px;
        width: auto;
        display: block;
    }
    .header__icon .ur-here__shape {
        vector-effect: non-scaling-stroke;
        stroke-width: 1px;
    }
    .header__icon .ur-here__dot {
        display: none;
    }
</style>