---
const currentPath = Astro.url.pathname;

import BlogSquare from "../assets/blog-square.svg";
import HomeCircle from "../assets/home-circle.svg";
import ProjectsNonagon from "../assets/projects-nonagon.svg";
import ResumeTriangle from "../assets/resume-triangle.svg";
const Icons = {
    blog: BlogSquare,
    projects: ProjectsNonagon,
    resume: ResumeTriangle,
    toys: HomeCircle,
};

const links = [
    {
        current: false,
        slug: "blog",
        text: "Blog",
        url: "/blog/",
    },
    {
        current: false,
        url: "/resume/",
        slug: "resume",
        text: "Resume",
    },
    // {
    //     current: false,
    //     slug: "projects",
    //     text: "Projects",
    //     url: "/projects/",
    // },
    // {
    //     current: false,
    //     slug: "toys",
    //     text: "Toys",
    //     url: "/toys/",
    // },
].map((link) => {
    const current = link.url === currentPath;
    link.current = current;
    return link;
});
const iconClasses = {
    blog: "icon--square",
    projects: "icon--nonagon",
    resume: "icon--triangle",
    toys: "icon--circle",
};
const { class: _class, ...rest } = Astro.props;
---

<nav class={_class}>
    <a href="/">
        <span class="nav__link-inner">
            Eric Mikkelsen
        </span>
    </a>
    {
        links.map(({ url, text, slug }) => {
            const Icon = Icons[slug];
            const iconClass = iconClasses[slug];
            return (

                    <a href={url} class={`nav__link nav__link--${slug}`}>
                        <span class="nav__link-inner">

                            <span>{text}</span>
                            <Icon
                                class={`icon ${iconClass}`}
                                aria-hidden="true"
                            />
                        </span>
                    </a>
            );
        })
    }
</nav>
<style lang="scss">
    nav {
        --gap: 8px;
        background-color: #000;
        padding: var(--gap);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(Min(8em, 100%), 1fr));
        grid-auto-rows: 1fr;
        gap: var(--gap);
        max-width: 100%;
        width: 10em;
    }
    a {
        // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 900;
        font-size: 1.25em;
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        // background-color: #d30;
        color: #000;
        transition: .2s background-color, .2s filter;
        text-underline-offset: 2px;
        outline: 4px solid transparent;
        outline-offset: 4px;
        filter: brightness(1);
    }
    .nav__link-inner {
        align-content: center;
        padding: 8px;
        display: flex;
        gap: 8px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    a:focus-visible {
        outline-color: #fff;
    }
    a svg {
        width: auto;
        height: max(5vw, 3em);
    }
    a {
        background-color: #FFF;
    }
    a:nth-child(2) {
        background-color: #72ddfd;
    }
    a:nth-child(3) {
        background-color: #feb570 ;
    }
    a:nth-child(4) {
        background-color: #fff5b8;
    }
    a:nth-child(5) {
        background-color:  #ffb6f1;
    }
    a:hover {
        // background-color: #fff;
        filter: brightness(1.125);
    }
</style>
<style is:global lang="scss">
    a path,
    a circle {
        stroke-width: 1px;
        transition: .2s stroke-width;
        fill: rgba(255,255,255, 0);
    }
    .ur-here__dot {
        fill: currentColor;
    }
    a:hover path,
    a:hover circle {
        stroke-width: 16px;
        fill: rgba(255,255,255, 255);
    }
    a:hover .ur-here__dot {
        fill: currentColor;
    }
    a:active path,
    a:active circle {
        stroke-width: 1px;
    }
    .ur-here__dot {
        transition: .2s r;
    }
    a:active .ur-here__dot {
        r: 8;
    }
</style>
