---
import Layout from './index.astro';
type LinkItem = {
	url: string;
	text: string;
};

const {
	title,
	description,
	links = [],
	reversed = null,
	ofText,
	image,
} = Astro.props as {
	title: string;
	description: string;
	links?: LinkItem[];
	reversed?: boolean | null;
	ofText?: string;
	image?: string;
};
---
<Layout title={title} description={description} ofText={ofText} image={image}>
	<ol reversed={reversed || null} role="list">
		{links.map(({url,text}) => 
			<li>
				<a href={url}>
					{text}
				</a>
			</li>
		)}
	</ol>
</Layout>
<style>
	ol {
		font-size: 2rem;
		padding: 0 5%;
		list-style-position: inside;
		line-height: 2;
	}
	li {
		padding-left: 10px;
	}
	li + li {
		margin-top: 16px;
	}
	a {
		color: inherit;
		border-radius: 12px;
		padding: 4px;
		font-weight: bold;
	}
	a:hover {
		color: inherit;
		background-color: #7df;
	}
</style>