---
import BaseHead from "../components/Head/BaseHead.astro";
import Nav from "../components/Nav.astro";
import Header from '../components/Header.astro'
import { getCurrentPage } from "../modules/navigation";
// import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const {
    title,
    description,
    ofText = null,
} = Astro.props;

const currentPage = getCurrentPage(Astro.url.pathname);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
        <style>

        </style>
    </head>
    <body>
        <a href="#header" class="skip">Skip to content</a>
        <div class="page">
            <Nav class={["nav"]} currentPage={currentPage} />
            <main id="main">
                <Header
                    id="header"
                    heading={title}
                    ofText={ofText}
                    body={description}
                    currentPage={currentPage}
                >
                </Header>
                <slot>
                <slot />
            </main>
        </div>
    </body>
</html>
<style>
    html {
    }
    .page {
        @media screen {
            @media (min-width: 45em) {     
                display: flex;
                min-height: 100vh;
            }
        }
    }
    main {
        width: 100%;
    }
</style>
<style is:global>
    @media screen and (min-width: 45em) {     
        .nav {
            height: 100dvh;
            position: sticky;
            top: 0;
            max-width: 160px;
        }
    }
    .skip {
        font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
        padding: 16px;
        text-align: center;
        border: 8px solid #000;
        border-bottom: none;
        @media screen {
            display: block;
        }
        &:focus-visible {
            outline-offset: -12px;
        }
    }
</style>
