---
import Layout from '../layouts/index.astro';
import Markdown from '../components/Markdown.astro';

type WorkHistoryItem = {
    description?: string;
    organization: string;
    jobTitle: string;
    date: string;
    bulletPoints?: string[];
};

const {frontmatter} = Astro.props;
const {title,description, ofText, workHistory = []} = frontmatter;
const typedWorkHistory = workHistory as WorkHistoryItem[];
---
<Layout
    description={description}
    ofText={ofText}
    title={title}
>
    <Markdown>
        <slot />
        {typedWorkHistory.length > 0 &&
            <section>
                <h2>Work history</h2>
            
                {typedWorkHistory.map(({date, jobTitle, organization, description, bulletPoints = []}) => (
                    <section>
                        <h3>{organization}</h3>
                        <p>
                            {jobTitle}
                            <br /><time datetime="">{date}</time>
                            {description && <span><br />{description}</span>}
                        </p>
                        {bulletPoints.length > 0 && <ul>
                                {bulletPoints.map(point => <li>{point}</li>)}
                        </ul>}
                    </section>
                ))}
            </section>
        }
    </Markdown>
</Layout>